<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ApplSettings" type="backup.ApplSettings, backup"/>
	</configSections>
	<ApplSettings OnlyOneInstanceOnServer="true"
								DbConnectionString="Server=s-server-new\SQLEXPRESS;Database=backup-test;User ID=user;Password=123"
								BackupDb="true">
		<Filters>
			<!--<Filter value="Temporary Internet Files"/>
			<Filter value="AssemblyInfo.cs$"/>
			<Filter value="cdx$"/>-->
		</Filters>
		<RootPaths>
			<RootPath value="e:\1"/>
		</RootPaths>
		<!--<FtpEncryptor password="123"
									targetFtp="211.189.208.111"
									ftpUser="andrew"
									ftpPassword="123"
									ftpMode="passive"
									EncryptionThreadsCount="1"
									SaveScans="3">
		</FtpEncryptor>-->
		<LocalBackup ThreadsCount="1" SingleTarget="true" LinkerService="jbod:8090" BackupLocation="/raid/backup/test" />
		<!--<LocalBackup ThreadsCount="1" LinkerService="localhost:8090" BackupLocation="e:\4" />-->
	</ApplSettings>
</configuration>
