<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="rootPaths" value="/home/1"/><!--c:|D:|/-->
		<add key="password" value="test"/>
		<add key="targetFtp" value="192.168.0.31"/>
		<add key="ftpUser" value="andrew"/>
		<add key="ftpPassword" value="123"/>
		<add key="EncryptionThreadsCount" value="2"/>
	</appSettings>
</configuration>
