<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

  <targets>
  	<target name="tracefile" xsi:type="File" fileName="${basedir}log/trace.txt" layout="${longdate}|${level:uppercase=true}|${message}" />
    <target name="debugfile" xsi:type="File" fileName="${basedir}log/debug.txt" layout="${longdate}|${level:uppercase=true}|${message}" />
    <target name="logfile" xsi:type="File" fileName="${basedir}log/log.txt" layout="${longdate}|${level:uppercase=true}|${message}" />
    <target name="error" xsi:type="File" fileName="${basedir}log/error.txt" layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=tostring}" />
    <target name="newfiles" xsi:type="File" fileName="${basedir}log/new.txt" layout="${longdate}|${level:uppercase=true}|${message}" />
    <target name="queue" xsi:type="File" fileName="${basedir}log/queue.txt" layout="${longdate}|${level:uppercase=true}|${message}" />
    <target name="profiler" xsi:type="File" fileName="${basedir}log/profiler.txt" layout="${longdate}|${level:uppercase=true}|${message}" />
  </targets>
  <rules>
  	<logger name="newfiles" writeTo="newfiles" final="true" />
    <logger name="profiler" writeTo="profiler" final="true" />
  	<logger name="queue" writeTo="queue" final="true" />
  	<logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="tracefile" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugfile" />
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="logfile" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="error" />
    </rules>
</nlog>