<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

  <targets>
    <target name="debugfile" xsi:type="File" fileName="${basedir}debug.txt" layout="${longdate}|${level:uppercase=true}|${message}" />
    <target name="logfile" xsi:type="File" fileName="${basedir}log.txt" layout="${longdate}|${level:uppercase=true}|${message}" />
    <target name="error" xsi:type="File" fileName="${basedir}error.txt" layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="debugfile" />
    <logger name="*" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="error" final="true" />
    </rules>
</nlog>